
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single"><%= message %>  </h1>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">

          <% vacancies.forEach(function(vac){ %>
         
          <div class="col-md-4">
            <div class="card-box-a card-shadow"> 

              
           <div class="img-box-a">
            <img src="assets/img/property-5.jpg" alt="" class="img-a img-fluid">
              </div> 

              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="singleproperty/<%= vac.vacId %> "> <%= vac.address %>  
                        <br /></a>
                    </h2> 
                    
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">rent | $<%= vac.price %> 
                      </span>
                    </div>
                    <a href="singleproperty/<%= vac.vacId %> " class="link-a">Click here to view
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Area</h4>
                        <span> <%= vac.area%>m
                          <sup>2</sup>
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Beds</h4>
                        <span><%= vac.bedrooms%> 
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Baths</h4>
                        <span> <%= vac.bathrooms %> 
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Rooms</h4>
                        <span>              <%= vac.rooms%>  
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div> 
          <% }); %>  

          <div class="row">
            <div class="col-sm-12">
              <nav class="pagination-a">
                <ul class="pagination justify-content-end">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <span class="bi bi-chevron-left"></span>
                    </a>
                  </li> 
                  
  
                  <% for(let i = iterator; i <=endingLink; i++) { %> 
                    <% if(page > numOfPages) {%> 
                      <li class="page-item active">
                      <a class="page-link" href="/properties?page=<%=page-1 %> ">Prev</a> 
                      <% } %> 
                      
                    <% if(i==page) {%> 
                      <li class="page-item active">
                        <a class="page-link" href="/searchresult?page=<%= i %> "><%= i %> </a>
                      </li>
                      <% continue; %> 
                     <% } %> 
                     <li class="page-item">
                      <a class="page-link" href="/searchresult?page=<%= i %> "><%= i %> </a>
                    </li>
                  <% } %> 
                 <% if(page < numOfPages) {%> 
                  <li class="page-item active">
                  <a class="page-link" href="/searchresult?page=<%=page+1 %> ">Next</a> 
                </li>
  
                  <% } %> 
                </ul>
              </nav>
            </div>
          </div>

       
     
      </div>
    </section><!-- End Property Grid Single-->

  </main><!-- End #main -->

